# Ignore Visual Studio workspace folder
.vs/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local images – ignore these files
public/img/43d4cba4-3af2-49f9-acc3-0b1ffe3170a6.png
public/img/4a721b6e-1762-43ac-a62a-663476701043.png*.xcf
*.xcf
public/img/4a721b6e-1762-43ac-a62a-663476701043.png
